body{
    background-color: antiquewhite;
    display: flex;
}

#profil {
    width: 300px;
    height: 300px   ;
    border-radius: 50%;
    align-self: center;
    margin-left: 2%;
}

#desc{

    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: center;
    margin: 4% 10%;
}
 